<!DOCTYPE html>
<html>
<head>
  <title>EDIT Landmark</title>
</head>
  <body>
    <form action = "/landmarks/<%=@landmark.id%>" method="post">
       <input id="hidden" type="hidden" name="_method" value="patch">
      <label>Landmark Name:</label>
        <br>
      <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>">
        <br></br>
      
      <label>Year Completed:</label>
      <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed.to_s%>">
      <br></br>

      <h2>Figure associated with this Landmark</h2>
        <%  Figure.all.each do |figure| %>
        	<% if figure.id == @landmark.figure_id %>
	        	<a href="/figures/<%="#{figure.id}"%>"><%= figure.name%></h3><br>
        	<% end %>
        <% end %>
        <input type="submit" value="Edit Landmark">
    </form>
  </body>
</html>