<!DOCTYPE html>
<html>
<head>
  <title>New Figure</title>
</head>
  <body>
  <h1>Create a New figure</h1>
    <form action="/figures" method="POST">
        <label>Name:</label><br>
        <input type="text" name="figure[name]" id="figure_name"></input><br>

        <p>Choose an existing Title:</p><br>
        <% Title.all.each do |title|%>
        <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%="#{title.id}"%>"><%= title.name %></input>
        <%end%>
     
        <p>and/or, create a new title:</p><br>
        <label>New Title Name:</label>
        <input type="text" name="title[name]" id="new_title"><br>

        <p>Choose an existing Landmark:</p><br></br>
        <% Landmark.all.each do |landmark|%>
        <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>"><%=landmark.name%></input>
        <%end%><br></br>
        
        and/or, create a new Landmark:<br></br>
        <label>Landmark Name:</label>
        <input type="text" name="landmark[name]" id="new_landmark"></input><br>
        
        <input type="submit" value="Create New Figure">
    </form>
  </body>
</html>

  