<!DOCTYPE html>
<html>
<head>
  <title>SHOW</title>
</head>
  <body>
    <form action="/figures" method="get">
    <label><h1>Individual Figure</h1></label>
     
    <p><h3>Name:</h3><%= @figure.name %></p>
		<p><h4>Landmarks with this Figure: </h4></p>

      <% @figure.landmarks.each do |landmark| %>
      <p><a href="/landmarks/<%= landmark.id %>"><%= landmark.id %></a></p>
      <% end %>
      
    <p><h4>Titles for this Figure: </h4></p>
      <% @figure.titles.each do |title| %>
      <p><%= title.name %></a></p>
      <% end %>
		</form>
		
		<a href='/figures/<%= @figure.id %>/edit'>Edit this figure</a>
  </body>
</html>